// Typography
$font-family-base: 'sans-serif', Helvetica, Arial, Open Sans;
$font-family-sub:  'Droid Serif', serif;

$font-size-base:   16px;
$line-height-base: 1.5;

$font-size-mobile: 14px;

$font-weight-base-normal: 550;
$font-weight-base-bold:   650;

$font-weight-sub-normal:  350;
$font-weight-sub-bold:    650;

$font-size-small: 0.85rem;

$spacing-unit: 1em;

// Color Scheme
$text-color:            #383838;
$text-color-light:      #bbb;
$title-color:           #000;

$background-color:      #fff;

$brand-color-base:      #fec923;
$brand-color-sub:       #000;

$white-color:           #fff;

$grey-color:   lighten($text-color-light, 20%);
$border-color: lighten($text-color-light, 20%);

// Max width of the content area
$content-width: 700px;

// Breakpoints
$reflow-point:  860px;
